#
# UmVirt LFS Customizer Configuration file
# ----------------------------------------
#
# Taget partition
#
# LFS root partition (filesystem) full path for customization.
# ULFS root partition (filesystem) full path for installing packages.
#
# Possible values:
# - Filesystem on disk: /dev/sda, /dev/vda
# - Filesystem on logical volume: /dev/volumegroup/logicalvolume
# - Disk partition: /dev/sda1, /dev/vda1
# - Partition on device mapper: /dev/mapper/logicalvolumep1 
# Default: ""
#
LFS_PARTITION=
#
# Target architecture
#
# Possible values: "amd64", "i686", "i586"
# Default: "amd64"
#
LFS_TARGET_ARCH=
#
# Target init 
#
# Possible values: "sysv", "systemd"
# Default: "systemd"
#
LFS_TARGET_INIT=
#
# Local repository
#
# Local repository to install packages.
# Default repository is used if empty value.
#
# Possible values: IP-address, hostname
# Default: ""
#
LOCALREPO=
#
# SourcesDisk
#
# Optional. Use additionak disk to mount in "/sources" directory
#
# Possible values: path to device ("/dev/sdb","/dev/vdb")
# Default: ""
#
SOURCESDISK=
#
# SourcesDisk formatting
#
# Optional. Clean up SourcesDisk by formating it.
#
# Possible values: "YES","NO"
# Default: "YES"
#
FORMATSOURCESDISK="YES"
#
# Zerofill
#
# Fill disk free space with zeroes to reduce a disk image archive file size 
# after customization and installing packages.
#
# Possible values: "YES","NO"
# Default: "YES"
#
ZEROFILL="YES"

